<!DOCTYPE HTMl>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/abortme.css">
	<link rel="stylesheet" type="text/css" href="css/all.css">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>关于我</title>
	<script src="script/index.js"></script>
</head>
<body>
	<div id="left">
		<div id="head">
			<img src="image/index/head.png" />
			<p id="name">Young-Dou</p>
		</div>
		<div id="list">
			<p id="home"><a href="index.html">home</a></p>
			<p><a href="">文章分类</a></p>
			<p><i><a href="">qq</a></i><i><a href="">github</a></i><i><a href="">g+</a></i></p>
		</div>
		<div id="music">
			<div id="bamboo"></div>
			<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=210 height=86 src="http://music.163.com/outchain/player?type=2&id=26577405&auto=1&height=66"></iframe>
		</div>
	</div>
	<div id="right">
		<div class="box">
			<h3>个人简介</h3>
			<div class="text">
				<!--个人简介内容放这里-->
			</div>
		</div>
		<div class="box">
			<h3>我的微博</h3>
			<div class="text weibo">
				<iframe width="884" height="270" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=350&height=550&fansRow=2&ptype=1&speed=0&skin=3&isTitle=1&noborder=1&isWeibo=1&isFans=1&uid=2449900314&verifier=454ed586&dpc=1"></iframe>
			</div>
		</div>
		<div id="foot">
			<p>@Young-Dou@</p>
		</div>
	</div>
</body>
</html>