<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="css/index.css" />
	<link rel="stylesheet" type="text/css" href="css/all.css">
	<script src="script/index.js"></script>
</head>
<body>
	<div id="wrap">
		<div id="head">
			<img src="image/index/head.png">
		</div>
		<div id="box">
			<h2>Introduction</h2>
			<ul>
				<li>姓名：YoungDou</li>
				<li>毕业院校：中山大学</li>
				<li>经历：xxx</li>
				<li>座右铭：xxx</li>
			</ul>
		</div>
    </div>
    <div id="music">
    	<div id="bamboo"></div>
    	<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=210 height=86 src="http://music.163.com/outchain/player?type=2&id=26577405&auto=1&height=66"></iframe>
    </div>
</body>
</html>