<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/normal.css">
	<link rel="stylesheet" type="text/css" href="css/all.css">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="text/javascript" src="script/index.js"></script>
</head>
<body>
	<div id="right">
		<div id="head">
			<img src="image/index/head.png" />
			<p id="name">Young-Dou</p>
		</div>
		<div id="navigation">
			<i><a href="index.html">home</a></i>
			<ul>
				<li><a href="">文章分类</a></li>
				<li><a href="aboutme.html">关于我</a></li>
			</ul>
		</div>
		<div id="search" type="search">
			<form>
				<input>
			</form>
		</div>

	</div>
	<div id="left">
		<div id="top">
			<div id="title">
				<h2 id="fix">墨香阁</h2>
				<p><span id="l">砚生墨</span><span id="r">香自满</span></p>
			</div>
		</div>
		<div id="article">
			<div id="comment">
				<h2>三年高中-临行前的记录一：高考与高三</h2>
				<p id="first">主页>技术文章>前端开发>css+html</p>
				<P id="second">
					<span id="cal">日期</span>
					<span id="cat">分类</span>
					<span id="author">作者</span>
				</P>
			</div>
			<!--啦啦啦-->
			<div id="text">
				<p>我永远会记得2014这个夏天，我们两天的高考经历是那么珍贵难得又那么残酷虐心。可是那两天我们自认很脆弱娇气的我们却出乎意料的坚强平静。我记得我们8班开考前唱的歌那么给人以力量，同学间温暖的笑容，一切好像只是去旅行般美好从容。</p>
				<p>考试两天是跟着孙梦倩一块的，我们手牵手走向四中义教部，手牵手上楼，分开时简单的说声加油，最深的印象便是分开瞬间我们有温暖又小紧张的身影。我在四楼，从楼梯走向考场遇到了很多熟人，每遇到一个彼此都会挂上一个鼓励的笑容说一句加油，这个两天之内我说的最多的词汇。记得吕家奇和徐梦瑶总是在开考前站一起啃黄瓜，把黄瓜啃的巨丑。陈傲雪的考场与我的相对，每次我一转头能从后门看到她的身影，目光交汇时，彼此一笑。小白刘晓荷高廷璧一直笑我的发型，两个小辫。刘梦琪在7班远远招手打招呼。最后一场考完，爸妈捧着紫色小熊迎接我。一切就像一部很幸福的电影。</p>
				<p>现在想来，当时的我们肯定是紧张的，只是强压下用自己最美的微笑与自信去鼓励自己，去安慰他人，让一场严肃重要的高考充满着温情。光爷爷说孩子们，我们还有你们从来不知道你们可以这么坚强，你们真的做的很棒。我会记得听到这句话时的深深的感动，被光爷爷感动，被大家感动。</p>
				<P>高三过得辛苦而难忘。我们独特的小红楼是背书学习胜地，记得考前几天大家都搬着凳子找风水宝地去背书，长长的走廊上尽是我们苦背的身影。胡炜高挺璧很屌丝地席地而坐，，用女式小扇子狂扇着大声吼：“中国共产党。。。。。。”孙佳煜的嗓门大的上厕所时都能听到。张肇飞干脆躺着背,或者消失。我和孙梦倩王子颖在走廊另一端背着。有些还去楼下背。于是楼上楼下遍地开花。当然这样方便的是我们，痛苦的是班主任陈琰，他每天都会清点人数楼上楼下的数，找半天然后到处问我们:”张肇飞呢？’’</P>
				<p>同学们呢，记得大方热情的李一心，有问题就能找到省长高挺璧，有些奇怪不太正常的张肇飞，暴力的欺负我的强悍同桌孙梦倩，三观不正的天才李佳媛，永远沉下心学习的第一名周文婷，长大要我当伴娘的毒舌的孙宇焱，搬到小红楼时放下自己东西先帮我的刘晓荷，考试时把所有纸都借我的善良姑娘童心竹，豪爽大气的章子扬，上课偷看书的吸吸徐自立，搞怪的王晋东和胡炜，大方热情的施嘉琪和陈傲雪，喜欢便便形状温柔的索靖雯，积极向上的李卓尔，超级可爱声音很萌的小白，表面闷骚网上活跃搞怪的胥虎，沉静少言的姑娘牛嘉慧和樊雨轩，最后陪伴的同桌门泽昊，文字精辟而深刻的徐心雨，刻苦学习的刘欣怡，标准的淑女字超级好看的马天舒，英语作文的写手王靖煜，历史课睡觉的受我欺负的王子颖，有点二的唐思琪，非常刻苦认真学习气场强大的女汉子孙佳煜，细心温柔的冯雪逸，憨厚有点二又认真学习还跳过骑马舞的王沛晗，有点娘娘腔拥有几个好基友的搞笑派田文天，聪明的李鑫宇和杨韵影，温柔积极会跳舞的漂亮姑娘董雨菲，作文超棒的同桌王子菁，文静又可爱的孟婧怡，娴静认真喊也喊不动的孔德越，还有超级可爱宇宙无敌的我：徐雯祯</p>
				<p>陈琰老班，他因为语文水平的缘故留下了很多经典语录，我真是没见过这麽集二与装严肃为一体的完美版。我记得陈琰想笑却又强忍着而嘴角抽搐的表情，我说你在班里笑一下又咋了，我们又不会嘲笑你。但是他的数学真的教的很好，慢条斯理又节奏紧凑。</p>
				<p>光爷真的很有范儿，他永远会慈祥的笑眯眯地看着我们，拍拍我们的头，又是那么有威慑力，训我们时让人气都不敢出，连熊欣春娟都害怕他，一次下楼问光爷题遇到春娟老师，她吐吐舌头：你可真有勇气。光爷爷真的是一个很好的老师，真正地把我们当孩子看。记得冬天下雪时，他怕我们走路摔跤，带着一个老师自己亲手铲雪。记得他看着刘晓荷穿上校服说：娃娃们长大了又高了，校服都小了。记得他在我们的历史答卷下写下的骂我们的话：蠢，蠢不可及，儿啊你千万别这么答啊，。一次胡炜写错了地方，光爷爷批注:蠢，末了觉得不解气，有批注：真的很蠢。。。。就是这样，又喜欢打击我们痛骂我们却又很温柔地关心我们喜欢我们。。。</p>
				<p>地理熊欣老师真是很认真负责，我真的很高兴欣欣的终生大事能够解决。。。。她永远都会多留在办公室解答问题，不辞辛苦的整理专题，</p>
				<p>春娟这个老师当的特别憋屈，一点威信都没有，还天天被章子扬欺负，经常笑场，见了光爷跟老鼠见了猫一样。。。。。。不过春娟姐教的也很好，长得很孩子气，第一天进教室时我还以为是走错班的学生。。。</p>
				<p>刘澍老师是标准的温柔贤惠的典范，她从不说狠话，批评人也很温柔，跟老板成强烈反差。。。会给我们找来一大堆资料供我们阅读，给我们细细讲卷子。</p>
				<p>英语老师海霞姐绝对是女神加女魔头的混合体，一方面她温柔地让人飘飘欲仙，一方面她魔鬼的令人胆寒，很多时候我以为她会对我更魔鬼时她会突然很温柔很温柔的对我笑，然后问我为什么不穿我的小天鹅衣服。。。。。。但事实证明她的方法是有效的，我们的英语可是无人能匹敌的。</p>
				<p>这就是高三吧，说真的很辛苦很虐心，可是真正想记录下来时，想起来的只是那些温暖的片段，也许是因为我们即使辛苦也很幸福，有着真正爱我们负责的老师，有着善良的同学们。</p>
			</div>
			<div id="guide">
				<P>
					<a href="" id="guide-l">上一篇</a>
					<a href="" id="guide-r">下一篇</a>
				</P>
			</div>
		</div>
		<div id="foot">
			<p>@Young-Dou@</p>
		</div>
	</div>
	<div class="fixed">
		<a href="#fix"><img src="image/fix/top.png" /></a>
	</div>
	<div id="music">
		<div id="bamboo"></div>
		<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=210 height=86 src="http://music.163.com/outchain/player?type=2&id=26577405&auto=1&height=66"></iframe>
	</div>
</body>
</html>