*{
	margin:0;
	padding: 0;
}
body {
	background-image: url(../image/index/background.jpg);
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: 1600px;
	color: #51758B;
}
#wrap {
	width: 300px;
	padding: 10px;
	margin: 0 auto;
}
#head img {
	max-height: 300px;
	max-width: 300px;
}
#head {
	width: 300px;
	margin:10px 0;
	text-align: center;
}
#box {
	width: 250px;
	height: 300px;
	margin: 0 auto;
	border: 2px solid #6EB072;
	color: white;
	background:rgba(47,120,132, 0.8) none repeat scroll 0 0 !important;
	text-align: center;
	padding: 30px;
	border-radius: 30px;
}
#box ul {
	list-style: none;
}
#music {
	position: fixed;
	right: 30px;
	top: 200px;
}

#box li {
	padding: 20px;
}